<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit receipt</title>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
<p> Clickear una vez el boton correspondiente al área que se desea extraer, luego escojer rectangulos que tienen el valor del área y finalmente presionar de nuevo. </p>
<a href="/"> home </a>
<div id="receiptid">{{receipt_id}}</div>

<br />
<br />

<!-- TODO ALL CREATED JUST BY KNOWING THE NAMES OF THINGS TO EXTRACT -->

<button onclick="buttons_callback('rut')"> Rut </button>
<button onclick="buttons_callback('name')"> Nombre </button>
<button onclick="buttons_callback('total_amount')"> Monto Total </button>
<!-- <img src="/see_receipt/{{receipt_id}}"> -->

<br />
<br />
<!-- TODO: agrupar todos los divs en uno solo -->
<div id="rut_div" style="display:none">
    <button onclick="process_info('rut_ia', 'rut: ', 'rut_final_text')"> enviar a extraer texto </button>
    <div id="rut_ia"> rut:  </div>
    <div id="rut_final_text_div" style="display:none">
        Texto a guardar: <input type="text" id="rut_final_text" maxlength="100" size="50">
        <button> Guardar Texto</button>
    </div>


</div>

<div id="name_div" style="display:none">
    <button onclick="process_info('name_ia', 'name: ', 'name_final_text')"> enviar a extraer texto </button>
    <div id="name_ia"> name:   </div>
    <div id="name_final_text_div" style="display:none">
        Texto a guardar: <input type="text" id="name_final_text" maxlength="100"  size="50">
        <button> Guardar Texto</button>
    </div>
</div>


<div id="total_amount_div" style="display:none">
    <button onclick="process_info('total_amount_ia', 'total_amount: ', 'total_amount_final_text')"> enviar a extraer texto </button>
     <div id="total_amount_ia" > total_amount: </div>
    <div id="total_amount_final_text_div" style="display:none">
        Texto a guardar: <input type="text" id="total_amount_final_text" maxlength="100" size="50">
        <button> Guardar Texto</button>
    </div>
</div>
<br />
<br />


<div>
    <canvas id="canvas_id" ></canvas>
</div>

<script src='{{static_url("edit_receipts.js")}}'></script>
</body>
</html>