<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Excel</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="container-xl my-5">
    <div class="row">
        <div class="col-8">
            <div class="btn-group">
                <a href="/" class="btn btn-secondary mx-1"> home </a>
                <a href="/new_receipt" class="btn btn-secondary mx-1"> Agrergar nuevo recibo </a>
                <a href="/list_receipts" class="btn btn-secondary mx-1"> Editar un recibo  </a>
                <a href="/excel_dashboard" class="btn btn-secondary mx-1"> Generar un excel de rendiciones </a>
            </div>
        </div>
        <div class="col justify-content-end">
            <a class="btn btn-primary" href="/logout">log out</a>
        </div>
    </div>
</div>

<div class="container-xl my-5">
    <table style="width:100%" id="table_receipts">
      <tr>
        <th>check</th>
        <th>receipt_id</th>
        <th>name</th>
        <th>rut</th>
      </tr>

    </table>
    <button onclick="send_checked()" class="btn btn-success"> Generar excel </button>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src='{{static_url("excel_generation.js")}}'></script>
</body>
</html>