<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New receipt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>

<div class="container-xl my-5">
    <div class="row">
        <div class="col-8">
            <div class="btn-group">
                <a href="/" class="btn btn-secondary mx-1"> home </a>
                <a href="/new_receipt" class="btn btn-secondary mx-1"> Agrergar nuevo recibo </a>
                <a href="/list_receipts" class="btn btn-secondary mx-1"> Editar un recibo  </a>
                <a href="/excel_dashboard" class="btn btn-secondary mx-1"> Generar un excel de rendiciones </a>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="/logout">log out</a>
        </div>
    </div>
</div>

<div class="container-xl my-5">
<p><h1>Subir imagen de recibo</h1></p>
<form enctype="multipart/form-data" action="/upload_browser" method="post">
Archivo: <input type="file" name="file1" />
<br />
<br />
<input type="submit" value="upload" />
</form>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>